<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/new_potluck">New Potluck</a>
  </nav>
</header>
<%= yield %>








</html>