<form method="post" action="/new_potluck">
  Name:
  <input type="text" name="potluck[name]">
  <br>
  Location:
  <input type="text" name="potluck[location]">
  <br>
  Date:
  <input type="date" name="potluck[date]">
  <br>
  <button>Save Potluck</button>
</form>