<h3><%= @potluck.name %></h3>

<a href="/new_item/<%= @potluck.id %>">Add Item</a>
<br>
Current Items:
<br>
<% Item.all.each do |item| %>
  <%= item.name %>
  | Tags |
  <%= item.person ? item.person.name : "<a href=\"/claim_item/#{item.id}\">Claim</a>" %>
  <br>

    <br>
<% end %>


